*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conteiner1{
    width: 100%;
    height: 150px;
}
.asist1{
    padding: 0px 70px;
}
.flex1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.flex2{
    display: flex;
    gap: 30px;
}
.text1{
    color: white;
    font-size: 20px;
}
.text2{
    color: white;
    font-size: 20px;
}
.text3{
    color: white;
}
.text4{
    color: #438db8;
    font-size: 50px;
}
.background1{
    background-color: #438db8;
    height: 70px;
}
.asist2{
    padding: 30px 210px;
    font-weight: 600;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
input{
    padding: 5px 5px;
    width: 120px;
}
.flex4{
    display: flex;
    gap: 30px;
}
.flex3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input1{
    width: 30px;
    height: 30px;
}
.conteiner2{
    margin-top: 30px;
    width: 100%;
    height: 700px;
    background-image: url("./4524a51015501a042c9101d608393bf2ef9fe1c3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}
.text5{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
}
.tire{
    color: #438db8;
}
.text6{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 400px;
}