*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conteiner1{
    width: 100%;
    height: 150px;
}
.asist1{
    padding: 0px 70px;
}
.flex1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.flex2{
    display: flex;
    gap: 30px;
}
.text1{
    color: white;
    font-size: 20px;
}
.text2{
    color: white;
    font-size: 20px;
}
.text3{
    color: white;
}
.text4{
    color: #438db8;
    font-size: 50px;
}
.background1{
    background-color: #438db8;
    height: 70px;
}
.asist2{
    padding: 30px 210px;
    font-weight: 600;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
input{
    padding: 5px 5px;
    width: 120px;
}
.flex4{
    display: flex;
    gap: 30px;
}
.flex3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input1{
    width: 30px;
    height: 30px;
}
.conteiner2{
    margin-top: 30px;
    width: 100%;
    height: 700px;
    background-image: url("./4524a51015501a042c9101d608393bf2ef9fe1c3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}
.text5{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
}
.tire{
    color: #438db8;
}
.text6{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 400px;
}
.conteiner3{
    width: 100%;
    height: 200px;
}
.asist5{
    padding: 70px 140px;
}
.text7{
    color: grey;
    font-size: 30px;
    font-weight: 500;
}
.text8{
    color: grey;
    margin-top: 30px;
    font-size: 15px;
}
.btn1{
    color: white;
    background-color: #438db8;
    padding: 10px 10px;
    width: 210px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}
.knop1{
    padding: 5px 5px;
    width: 250px;
    height: 300px;
    box-shadow: 2px 2px 10px grey;
}
.bg-img3{
    width: 100%;
    height: 230px;
    background-image: url(./16026738b8c93f05d1c46528611563a7383acd51.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 
}
.img1{
    display: inline;
    margin-left: 10px;
    margin-top: 10px;
}
.img2{
    margin-left: 150px;
}
.text9{
    color: grey;
    margin-top: 10px;
}
.siyax{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    display: inline;
}
.img3{
    margin-left: 200px;
}
.flex5{
    display: flex;
    justify-content: space-around;
}
.flex6{
    display: flex;
    gap: 60px;
}
.conteiner5{
    width: 100%;
    height: 300px;
    margin-top: 300px;
}
.asist7{
    padding: 50px 150px;
}
.flex8{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.flex9{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.conteiner7{
    margin-top: 500px;
    width: 100%;
    height: 500px;
}
.asist8{
    padding: 50px 150px;
}
.text15{
    color: grey;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}
.tiee{
    background-color: #438db8;
    width: 90px;
    height: 10px;
    border-radius: 15px;
    margin-left: 750px;
    margin-top: 50px;
}
.flex10{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}